body{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
   

}
.container{
    display: flex;
    justify-content: space-around;

    border: 1px solid rgb(0, 8, 255);
    
}